.git
.gitattributes
.gitignore
.vs
.vscode
.idea
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

tests/
**/*.trx
**/*.log
**/*.dbmdl
**/*.jfm

.dockerignore
Dockerfile
docker-compose*.yml
!docker-compose*.yml

*.md
!README.md

node_modules/
dist/
coverage/

*.seed
*.pid
*.swp
*.swo
*~
